.flex {
  display: flex;
  flex-direction: row;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}
.delete-btn {
  height: 40px;
  margin: auto 0;
}
